*.class
*.log
classes
.cache
tags

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.lib

# Scala-IDE specific
.scala_dependencies

# eclipse files
.classpath
.project
.settings
*.swp
.lib-src

# Intellij IDEA files
.idea/
*.iml
*.ipr
*.iws
